# npm Users By Downloads ([git.io/npm-top](git.io/npm-top))

----------

npm users sorted by the monthly downloads of their modules, for the range _{{start}}_ until _{{end}}_.

Metrics are calculated using _https://api.npmjs.org_, and _https://skimdb.npmjs.com_.

| **#** | User | Downloads |
| ----- | ---- | --------- |
{{#users}}
|**{{index}}**|[{{name}}](https://www.npmjs.com/~{{name}})|{{downloads}}|
{{/users}}
