# npm Users By Downloads ([git.io/npm-top](http://git.io/npm-top))

----------

npm users sorted by the monthly downloads of their modules, for the range _{{start}}_ until _{{end}}_.

Metrics are calculated using [top-npm-users](https://github.com/bcoe/top-npm-users).

| **#** | User | Downloads |
| ----- | ---- | --------- |
{{#users}}
|**{{index}}**|[{{name}}](https://www.npmjs.com/~{{name}})|{{downloads}}|
{{/users}}
